* {
    transition: transform .4s ease-in-out;
    transition: all .2s;
}

.h1gradient {
    color: #111;
    font-family: 'Poppins', sans-serif;
    /* font-size: 275px; */
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    font-size: 85px;
    background: linear-gradient(to right, #182128 10%, #264a4d 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linecolorhr_about {
    background-image: linear-gradient(to right, #182128 60%, whitesmoke);
    width: 10%;
    text-align: left;
    margin-left: 0;
}

.-fx-image-gal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.-fx-gal-item {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.-fx-gal-item a {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.-fx-gal-image-thumb img {
    width: 99%;
    cursor: pointer;
    /* -webkit-filter: grayscale(100%); */
    /* -moz-filter: grayscale(100%); */
    /* filter: grayscale(100%); */
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: scale(1.5);
    transition: all 0.5s ease;
}

a>.dropdown-item::active,
a>.dropdown-item::selection,
a>.dropdown-item::before,
a>.dropdown-item::after,
a>.dropdown-item:hover {
    background-color: 829199;
}

::-moz-selection {
    color: #fff;
    background-color: #d3d3d3;
}

::selection {
    color: #fff;
    background-color: #d3d3d3;
}

::-moz-selection {
    color: #fff;
    background-color: #d3d3d3;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .h1gradient {
        color: #111;
        font-family: 'Poppins', sans-serif;
        /* font-size: 275px; */
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        font-size: 60px;
        background: linear-gradient(to right, #182128 10%, #264a4d 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media only screen and (max-width: 348px),
(min-device-width: 348px) and (max-device-width: 455px) {
    .h1gradient {
        color: #111;
        font-family: 'Poppins', sans-serif;
        /* font-size: 275px; */
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        font-size: 40px;
        background: linear-gradient(to right, #182128 10%, #264a4d 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media only screen and (max-width: 255px),
(min-device-width: 255px) and (max-device-width: 455px) {
    .h1gradient {
        color: #111;
        font-family: 'Poppins', sans-serif;
        /* font-size: 275px; */
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        font-size: 35px;
        background: linear-gradient(to right, #182128 10%, #264a4d 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (min-width: 420px) {
    .-fx-image-gal {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .-fx-gal-item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .-fx-gal-item {
        width: 33.33%;
    }
}

.dropdown-toggle::after {
    display: none;
}

.text-decoration-none {
    text-decoration: none !important;
}


/* Font Awesome Icons have variable width. Added fixed width to fix that.*/

.icon-width {
    width: 2rem;
}

.mug-redesign {
    color: #fff;
    background: linear-gradient(to right bottom, #182128 35%, #264a4d 65%);
    font-size: 50px;
    line-height: 80px;
    height: 95px;
    width: 95px;
    margin: 0 auto 0px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) inset, 0 0 5px rgba(0, 0, 0, 0.1); */
    /* border: 10px solid #f9f9f9; */
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.setting01 {
    background: linear-gradient(to right bottom, #182128 35%, #264a4d 65%);
}

.setting02 {
    background: linear-gradient(to right bottom, #182128 35%, #264a4d 65%);
}

.serviceBox {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.serviceBox .service-icon {
    color: #fff;
    background: linear-gradient(to right bottom, #182128 35%, #264a4d 65%);
    font-size: 45px;
    line-height: 80px;
    height: 95px;
    width: 95px;
    margin: 0 auto 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) inset, 0 0 5px rgba(0, 0, 0, 0.1);
    /* border: 10px solid #f9f9f9; */
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.serviceBox .title {
    color: #777;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}

.serviceBox .description {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    margin: 0 15px;
}

.serviceBox.green .service-icon {
    background: linear-gradient(to right bottom, #182128 35%, #264a4d 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.serviceBox.blue .service-icon {
    background: linear-gradient(to right bottom, #182128 35%, #264a4d 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.serviceBox.orange .service-icon {
    background: linear-gradient(to right bottom, #182128 35%, #264a4d 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 990px) {
    .serviceBox {
        margin: 0 0 30px;
    }
}

nav {
    background-color: #182128;
    color: whitesmoke;
}

.navbar-toggler-icon {
    background-color: whitesmoke;
}

a {
    color: whitesmoke!important;
}

a:hover,
a:active {
    color: #C8CDD1!important;
}

.active {
    color: black;
}

img {
    height: auto;
}

li>.nav-item>.active {
    color: #999;
}


/* 
section {
        padding: 60px 0;
        min-height: 100vh;
    } */

.contact-info {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.contact-info-icon {
    margin-bottom: 15px;
}

.contact-page-sec .contact-page-form h2 {
    color: #071c34;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
}

.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
    padding-left: 0;
}

.contact-page-form.contact-form input {
    margin-bottom: 5px;
}

.contact-page-form.contact-form textarea {
    height: 110px;
}

.contact-page-form.contact-form input[type="submit"] {
    background: #071c34;
    width: 150px;
    border-color: #071c34;
}


/* modify */

.contact-info-icon i {
    font-size: 48px;
    color: #D1B48C;
}

.contact-page-map {
    border-radius: 25px;
}

.contact-info-item {
    border-radius: 25px;
    background: #182128;
    padding: 30px 0px;
}

.contact-info-text p {
    margin-bottom: 0px;
}

.contact-info-text h2 {
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-info-text span {
    color: #999999;
    font-size: 16px;
    font-weight: ;
    display: inline-block;
    width: 100%;
}

.contact-page-form input {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
}

.contact-page-form .message-input {
    display: inline-block;
    width: 100%;
    padding-left: 0;
}

.single-input-field textarea {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
}

.single-input-fieldsbtn input[type="submit"] {
    background: #fda40b none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
    width: 150px;
    margin-top: 20px;
    font-size: 16px;
}

.single-input-fieldsbtn input[type="submit"]:hover {
    background: #071c34;
    transition: all 0.4s ease-in-out 0s;
    border-color: #071c34
}

.single-input-field h4 {
    color: #464646;
    text-transform: capitalize;
    font-size: 14px;
}

.contact-page-form {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.contact-page-map {
    margin-top: 36px;
}

.contact-page-form form {
    padding: 20px 15px 0;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 40px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* .navbar-nav>li>.dropdown-menu a:link, */

.navbar-nav>li>.dropdown-menu a:hover {
    background-color: #C8CDD1;
}

.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 10px 0 30px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -20px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 60%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 500;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 10px;
}

.contact-social>ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 20px;
    margin: 0 8px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 20px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

section,
footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 20px 0;
    text-align: center;
}

.fa-bars {
    color: whitesmoke;
}